<html>
<style type="text/css">
p {
-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    margin: 0 0 10px;
}
.content {
  max-width: 800px;
  margin: auto;
}
</style>
<body >
<div class="content container main-container bg-blue" style="padding:50px;margin-top:30px">
<p>
<img class="earth" style="max-width: 18%;float: left;margin-right: 5px;" src="images/sadearth.svg"> 

Since <a href="https://www.statista.com/statistics/242606/number-of-active-twitter-users-in-selected-countries/" target="_blank" style="color: #337ab7;text-decoration: auto">Twitter users are largely from the United States</a>, we decided to investigate the public’s opinion on a larger scale around the globe to see if this was the case for other countries. The good news is that most countries do believe in man-made climate change and that the consequences of climate change are mostly negative. However, in most of the countries, people don’t think that the citizens of their countries are putting in the effort to fight climate change. 
 
</p>

<img style="float: right;max-width:423px" src="images/chernoff_faces_legend.png"> 


</div>

</body>
</html>